.root
{
    -fx-background-color: #ffe082;
    -fx-text-fill: rgba(0, 0, 0, 0.87);
    -fx-font-family: "Gabriola";
}

.label
{
    -fx-font-family: "Gabriola";
    -fx-font-size: 18pt;
}

#musicId
{
    -fx-font-size: 16pt;
}

#des
{
    -fx-font-family: "Gabriola";
    -fx-font-size: 16pt;
}

#button
{
    -fx-font-family: "Gabriola";
    -fx-font-size: 14pt;
    -fx-background-radius: 10px;
    -fx-background-color: #FFA000;
}

#header
{
    -fx-font-family: "Gabriola";
    -fx-text-fill:#FF5722;
    -fx-font-size: 22pt;
}