.root
{
    -fx-background-color: #ffe082;
    -fx-text-fill: rgba(0, 0, 0, 0.87);
    -fx-font-family: "Roboto";
    -fx-font-size: 12pt;
}

.label
{
    -fx-font-family: "Roboto";
    -fx-font-size: 14pt;
}

#des
{
    -fx-font-family: "Roboto";
    -fx-font-size: 12pt;
}

#button
{
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 12pt;
    -fx-background-radius: 10px;
    -fx-background-color: #FFA000;
}

#header
{
    -fx-font-family: "Roboto Medium";
    -fx-text-fill:#FF5722;
    -fx-font-size: 17pt;
}